
.r-notify {
  $transition: 250ms ease-in-out;
  $max-w: 460px;
  $success-color: rgba(26, 219, 77, 1);
  $warning-color: rgb(232, 138, 7);
  $error-color: rgba(219, 32, 26,1);
  $class: &;

  display: flex;
  position: relative;
  padding: 16px;
  margin: 4px 8px;

  overflow: hidden;

  border-radius: 16px;

  transition: $transition;

  box-shadow: 0 5px 10px rgba(0,0,0,0.03);

  &__body {
    width: 100%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-right: 16px;
    svg {
      z-index: 10;
    }
  }

  .icon {
    &--is-prompt {
      position: relative;
      width: 48px;
      &:after {
        position: absolute;
        display: inline-block;
        content: '';
        width: 45px;
        height: 45px;
        left: 50%;
        top: 50%;
        border-radius: 100%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: $max-w;
    z-index: 10000;
  }

  &__close-btn {
    opacity: 0;
    transition: $transition;
    right: 8px;
    top: 8px;
    font-size: 14px;
    position: absolute;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(206, 31, 31, 0.08);
    color: rgb(152, 11, 11);
    &:hover {
      background-color: rgba(206, 31, 31, 0.18);
    }
  }

  &__progress {
    position: absolute;
    height: 3px;
    background-color: black;
    bottom: 0;
    left: 0;
    transition: all 150ms ease-in-out;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    width: calc(100% - 46px);
  }

  &__content {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }


  &--default {
    border: 1px solid rgba(0,0,0,0.15);
    background-color: white;
  }

  &--success {
    border: 1px solid rgba(0,0,0,0.15);
    background-color: white;
    #{$class}__icon {
      &:after {
        background-color: rgba(117, 231, 60, 0.15);
      }
    }
  }

  &--warning {
    border: 1px solid rgba(0,0,0,0.15);
    background-color: white;
    #{$class}__icon {
      &:after {
        background-color: rgba(243, 156, 23, 0.15);
      }
    }
  }

  &--error {
    border: 1px solid rgba(0,0,0,0.15);
    background-color: white;
    border-left: 3px solid $error-color;
    #{$class}__icon {
      &:after {
        background-color: rgba(232, 22, 22, 0.15);
      }
    }
  }
  
  &--has-icon {
    //
  }

  &--rt {
    position: fixed;
    right: 8px;
    top: 8px;
  }

  &--rb {
    position: fixed;
    right: 8px;
    bottom: 8px;
  }

  &--lb {
    position: fixed;
    left: 8px;
    bottom: 8px;
  }

  &--lt {
    position: fixed;
    left: 8px;
    top: 8px;
  }

  &--appear {
    animation:appear 550ms ease-in-out forwards;
  }

  &--removing {
    animation:removing 250ms ease-in-out forwards;
  }

  &:hover {
    transform: scale(0.99);
    box-shadow: 0 3px 3px rgba(0,0,0,0);
    #{$class}__close-btn {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.98);
  }

  @keyframes removing {
    0% {
      transform: scale(0.98);
      opacity: 1;
    }
    100% {
      transform: scale(1.05);
      opacity: 0;
    }
  }

  @keyframes appear {
    0% {
      transform: translateY(5px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}